{% extends 'base.html' %}
{% load static %} <!--If you want to add an image allways add this-->

{% block title %}Reset Password{% endblock title %}

{% block content %}
<h1>Password Reset Complete</h1>
<p>Your password has been reset</p>
<p>Try to log in</p>
<form>
    <div class="FlexRow">
        <div>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <img src="{% static 'img/Happy.png' %}" alt="HappyImg" style="height: 20rem;">
    </div>
</form>
{% endblock content %}